body {
  font-family: Arial;
  color: black
}

h3 {
  font-family: 'Comic sans', Arial, sans-serif;
  width: 100%;
  padding: 10px;
  border: black solid 1px;
  background-color: #D3D3D3;
}

button.movie {
  width: 80%;
  height: 50px;
  text-align: left;
  margin: 0px 20px;
  background-color: white;
  padding: 0px 20px;
  border-spacing: -1px;
  border: 1px solid gray;
}

.search-div {
  margin: 30px 20px;
  border-radius: 5px;
}

.add-movie-div {
  margin: 30px 20px;
}

#add-movie {
  background-color: #71eeb8;
}

/*div#movieButtonList:nth-child(even) {
  border: 0;
}

#movieButtonList:last {
  border-bottom: 1px solid gray;
}
*/

